body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  text-align: center;
}

.todo {
  height: 40px;
  width: 100%;
  display: flex;

}

.todo input {
  height: 100%;
  margin: auto 12px;
}

.todo .todo-description {
  height: 100%;
  line-height: 40px;
  font-size: 12px;
  color: #989898;
}

.completed {
  text-decoration: line-through;
  text-decoration-color: #989898;
}
